[flake8]
select = E9,F63,F7,F82,F821,F401
exclude =
    .git,
    __pycache__,
    *_cache,
    build,
    dist,
    docs
max-complexity = 10
max-line-length = 127
statistics = True
exit-zero = True
count = True
show-source = True
jobs=auto