numpy>=1.20
torch==1.9.1
torchvision
setuptools
scikit-image
sklearn
termcolor 
numba
nibabel
napari[pyqt5]
magicgui

# development
isort
mccabe
pydocstyle
pylama
pylint
pep8
black
pyflakes
flake8
pre-commit